<h1>About</h1>
<p>At Inter-Cow.com, we put the wow into cow! We have the world's BIGGEST range of top quality cows- if you need a cow, you've come to the right place! A lot of our customers say: "I never ordered this cow. What the bloody hell am I going to do with a cow in Hackney? Get away from me!" But think of the possibilities... Run out of milk? Never go further than your back garden to top off the perfect cuppa! Fed up of mowing the lawn or paying a Mexican to do it for you? Not if you've got a cow! Start your own manure business! Use a cow as part of your daily work out! Scare your kids! Cows are even a great way to liven up your daily commute- eco-friendly and miles of fun! Just set off the week before! "Cow's" that for great value? So stop putting off your dream and buy a cow from Inter-Cow.com today! We've got cows coming out of our ears!*</p>
<p>*Cows coming out of your ears is a terrible condition requiring extensive treatment. If you see a cow or any other sort of farm animal on your pillow in the morning, contact your doctor immediately.</p>

<%= image_tag("milking.gif", class: "img-responsive cow milking") %>


