<h1>Contact me. Please.</h1>
<p>Phone: (516) 219 345 763</p>
<p>Address: 1, Quiet Street, Lonelytown, New York.</p>
<p>Call me. Or come by. Any time. Seriously, I'm free. You wanna come by right now!? I just made some Camembert! And I have crackers! And whatever you want, just tell me what you like. I have all the box-sets of Frasier! Oh man, this is gonna be so great! *Squeal!* Ummm... so you're coming, right?</p>

