<h1>Connect to a cow...</h1>
<p>Phone: (01345) 219345</p>
<p>Address: Fupplewump Farm, Wibble-on-the-Wold, Berkshire.</p>
<p>All our cows spend their first few months learning to write. At first, the more timid cows are afraid that their lack of opposable thumbs will be an obstacle on their path to becoming the next J.K"Cow"ling, but we soon show them that anything is possible with a little pluck and a lot of duct-tape! Within weeks they're penning anything from short stories to haikus! So feel free to write to any of our cows right here at the above address, or just call them on the phone. Oh heck, why not just come by and visit us! Just make sure you bring a big car... because we're sure you'll fall in love with each one of our delicious walking steak-factories, all fully certified by the FSA!</p>

<%= image_tag("cowphone.jpg", class: "img-responsive cow phone") %>

