/* line 5, /home/michael/Desktop/Devweb/app/assets/stylesheets/products.scss */
* {
  box-sizing: border-box;
}

/* line 10, /home/michael/Desktop/Devweb/app/assets/stylesheets/products.scss */
th {
  font-size: 150%;
}
/* line 1, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/michael/Desktop/Devweb/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*-----------sticky footer-------------*/
/* line 4, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.copyright {
  margin-top: 2em;
}

/* line 8, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #e42e1d;
  padding: 0 3em;
  margin-top: 5em;
}

/* line 18, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.search {
  margin-top: 2em;
}

/*---------------General---------------*/
/* line 24, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
body {
  margin-bottom: 10em;
}

/* line 29, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
h1, h2 {
  font-family: Satisfy;
  color: #00cc00;
  text-align: center;
  font-size: 400%;
  padding: 0.5em 0;
}

/* line 37, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
h3 {
  font-family: Satisfy;
  color: #00cc00;
  padding: 0.5em 0;
}

/* line 43, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
h4 {
  font-family: Satisfy;
  color: #00cc00;
  text-align: center;
}

/* line 49, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
p {
  font-family: Pangolin;
  font-size: 120%;
}

/* line 54, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.new-product-link {
  float: right;
  margin-top: 2em;
}

/* line 59, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.name {
  font-size: 4em;
  margin: 0.5em 0 1em 0;
  font-family: Satisfy;
}

/* line 65, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.products {
  padding: 10px;
}

/* line 69, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.products:hover {
  background-color: #ccddff;
}

/* line 73, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.col-md-6 {
  padding-left: 0;
}

/* line 77, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.button {
  margin: 1em 1em 1em 0;
}

/* line 81, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.base {
  margin: 3em 0;
}

/* line 85, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.carousel-indicators {
  bottom: 0px;
}

/* line 89, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pay_button {
  margin: 2em 0;
}

/*------------pagination---------------*/
/* line 96, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pagination {
  background: #94c4f4;
  padding: 8px;
}
/* line 101, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pagination span, .pagination em, .pagination a {
  padding: 8px;
  color: #4d4d4d;
}
/* line 106, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pagination a:hover {
  background-color: #ccddff;
  color: #4d4d4d;
  text-decoration: none;
}
/* line 112, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pagination .previous_page {
  background: #94c4f4;
  color: #4d4d4d;
}
/* line 113, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pagination .current {
  background: #b6b835;
  color: #4d4d4d;
}
/* line 114, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pagination .next_page {
  background: #94c4f4;
  color: #4d4d4d;
}
/* line 116, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.pagination .disabled {
  display: none;
}

/*----------------navbar---------------*/
/* line 126, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-brand {
  font-family: Satisfy;
}

/* line 130, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  height: 80px;
}

/* line 136, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar .navbar-collapse {
  text-align: center;
}

/* line 140, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar .navbar-collapse ul {
  margin-top: 20px;
  margin-right: 20px;
}

/* line 145, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-collapse ul li a {
  font-family: Biryani;
  font-size: 150%;
}

/* line 150, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar {
  background-color: #94c4f4;
}

/* line 154, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-header a {
  font-size: 150%;
}

/* line 159, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-default .navbar-brand {
  color: #4d4d4d;
}

/* line 163, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-default .navbar-brand:hover {
  color: white;
}

/* line 167, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar .navbar-nav > li > a {
  color: white;
}

/* line 171, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar .navbar-nav > li > a:hover {
  color: white;
  background-color: #b6b835;
}

/* line 176, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-nav li a:active {
  color: white;
  background-color: #b6b835;
}

/* line 182, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.user_name {
  font-family: Satisfy;
  color: #4d4d4d;
}

/* line 187, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar .navbar-nav > li > a.dropdown-toggle:hover {
  background-color: #94c4f4;
}

/* line 191, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
ul.dropdown-menu {
  background-color: #94c4f4;
}

/* line 195, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #94c4f4;
}

/* line 199, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #94c4f4;
}

/* line 202, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.dropdown-menu > li > a {
  color: white;
}

/* line 206, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.dropdown-menu > li > a:hover {
  color: white;
  background-color: #b6b835;
}

/*----------------carousel------------*/
/* line 218, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.carousel-controls {
  position: relative;
  width: 300px;
  margin: auto;
}

/* line 224, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.carousel-caption {
  font-family: Satisfy;
  font-size: 600%;
}

/*-----------------images--------------*/
/* line 233, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.cow, .show-pic {
  margin: auto;
}

/*--------------login views------------*/
/* line 243, /home/michael/Desktop/Devweb/app/assets/stylesheets/static_pages.scss */
.devise-form {
  margin: auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/raty.eot");
  src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/raty.svg#raty") format("svg");
  src: url("./fonts/raty.ttf") format("truetype");
  src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
