<h1>Thank you for your purchase!</h1>
<h3 class="text-center">Your cow is on its way...</h3>

<div class="text-center">
  <%= link_to products_path, class: 'btn btn-primary partial-btn' do %>
    Keep Shopping
  <% end %>
</div>