/*-----------sticky footer-------------*/


html, body {
	height: 100%;
}


.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 80px;
}

.site-footer {
	background: #e42e1d;
}

.copyright {
	float: right;
	display: inline;
	color: white;
}

.site-footer {
	padding: 1em;
}

.twitter-follow-button {
	color: white;
}


/*---------------General---------------*/


h1, h2 {
	font-family: Satisfy;
	color: #00cc00;
	text-align: center;
	font-size: 400%;
}

h4 {
	font-family: Satisfy;
	color: #00cc00;
	text-align: center;
}

p {
    padding: 20px;
    font-family: Pangolin;
    font-size: 120%;
}

.new-product-link {
	float: right;
	margin-top: 2em;
}

/*----------------navbar---------------*/


@media (min-width: 1176px) {

.navbar-brand {
	font-family: Satisfy;
}

.navbar-collapse ul li a {
	font-family: Biryani;
	font-size: 150%;
}

.navbar {	
	background-color: #94c4f4;
	height: 110px;
}

.navbar-header a {
	font-size: 300%;
	padding: 30px;
}


.navbar-default .navbar-brand {
	color: #4d4d4d;
}

.navbar .navbar-nav>li>a {
    color: white;
    margin-top: 35px;
}

.navbar .navbar-nav>li>a:hover {
    color: white;
    background-color: #b6b835;
}

.search {
	margin-top: 30px;
}

.user_name {
	font-family: Satisfy;
	color: #4d4d4d;
}

.navbar .navbar-nav>li>a.dropdown-toggle:hover {
	background-color: #94c4f4;
}

ul.dropdown-menu {
	background-color: #94c4f4;
}

.navbar-default .navbar-nav > .open > a:focus {
	background-color: #94c4f4;
}

.dropdown-menu > li > a {
	color: white;
}

.dropdown-menu > li > a:hover {
	color: white;
    background-color: #b6b835;
}
}



@media (max-width: 1175px) {

.navbar-brand {
	font-family: Satisfy;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none; 
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-collapse ul {
	margin-right: 50px;
}

.navbar-collapse ul li a {
	font-family: Biryani;
	font-size: 150%;
}

.navbar {	
	background-color: #94c4f4;	
}

.navbar-header a {
	font-size: 150%;
}


.navbar-default .navbar-brand {
	color: #4d4d4d;
}

.navbar .navbar-nav>li>a {
    color: white;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, {
    color: white;
    background-color: #94c4f4;
    border: solid 2px white;    
}

.navbar .navbar-nav>li>a:hover {
    color: white;
    background-color: #b6b835;
}

.navbar .navbar-nav>.active>a:hover {
	color: #94c4f4;
	background-color: white;
}

.search {
	margin-bottom: 10px;
}

.user_name {
	font-family: Satisfy;
	color: #4d4d4d;
}

.navbar .navbar-nav>li>a.dropdown-toggle:hover {
	background-color: #94c4f4;
}

ul.dropdown-menu {
	background-color: #94c4f4;
}

.navbar-default .navbar-nav > .open > a:focus {
	background-color: #94c4f4;
}

.dropdown-menu > li > a {
	color: white;
}

.dropdown-menu > li > a:hover {
	color: white;
    background-color: #b6b835;
}


}


/*----------------carousel------------*/


.carousel-controls{
    position:relative; 
    width:300px;
    margin: auto;
}

.carousel-caption {
	font-family: Satisfy;
    font-size: 600%;
}


/*-----------------images--------------*/


.cow, .show-pic {	
	margin: auto;
}

.cowcopter {
	
}

/*--------------login views------------*/

.devise-form {
	margin: auto;
}