/*-----------sticky footer-------------*/

.copyright {
	margin-top: 2em;
}

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
	background: #e42e1d;
	padding: 0 3em;
	margin-top: 5em;
}

.search {
	margin-top: 2em;
}

/*---------------General---------------*/

body {
	margin-bottom: 10em;
}


h1, h2 {
	font-family: Satisfy;
	color: #00cc00;
	text-align: center;
	font-size: 400%;
	padding: 0.5em 0;
}

h3 {
	font-family: Satisfy;
	color: #00cc00;
	padding: 0.5em 0;
}

h4 {
	font-family: Satisfy;
	color: #00cc00;
	text-align: center;
}

p {   
    font-family: Pangolin;
    font-size: 120%;
}

.new-product-link {
	float: right;
	margin-top: 2em;
}

.name {
	font-size: 4em;
	margin: 0.5em 0 1em 0;
	font-family: Satisfy;
}

.products {
	padding: 10px;
}

.products:hover {
	background-color: #ccddff;
}

.col-md-6 {
	padding-left: 0;
}

.button {
	margin: 1em 1em 1em 0;
}

.base {
	margin: 3em 0;
}

.carousel-indicators {
	bottom: 0px;
}

/*------------pagination---------------*/


.pagination {
  background: #94c4f4;
  padding: 8px;
  

  span, em, a {
    padding: 8px;
    color: #4d4d4d;
  }
  
  a:hover {
    background-color: #ccddff;
    color: #4d4d4d;
    text-decoration: none;
  }
  
  .previous_page { background:#94c4f4; color:#4d4d4d; }
  .current { background: #b6b835; color:#4d4d4d;}
  .next_page { background: #94c4f4; color:#4d4d4d; }
  
  .disabled {
    display:none;
  }

}


/*----------------navbar---------------*/


.navbar-brand {
	font-family: Satisfy;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none; 
  height: 80px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-collapse ul {
	margin-top: 20px;
	margin-right: 20px;
}

.navbar-collapse ul li a {
	font-family: Biryani;
	font-size: 150%;
}

.navbar {	
	background-color: #94c4f4;	
}

.navbar-header a {
	font-size: 150%;
}


.navbar-default .navbar-brand {
	color: #4d4d4d;
}

.navbar-default .navbar-brand:hover {
	color:white;
}

.navbar .navbar-nav>li>a {
    color: white;
}

.navbar .navbar-nav>li>a:hover {
    color: white;
    background-color: #b6b835;
}

.navbar-nav li a:active {
    color: white;
    background-color: #b6b835;
}


.user_name {
	font-family: Satisfy;
	color: #4d4d4d;
}

.navbar .navbar-nav>li>a.dropdown-toggle:hover {
	background-color: #94c4f4;
}

ul.dropdown-menu {
	background-color: #94c4f4;
}

.navbar-default .navbar-nav > .open > a:focus {
	background-color: #94c4f4;
}

.navbar-default .navbar-nav > .open > a:focus {
	background-color: #94c4f4;
}
.dropdown-menu > li > a {
	color: white;
}

.dropdown-menu > li > a:hover {
	color: white;
    background-color: #b6b835;
}





/*----------------carousel------------*/


.carousel-controls{
    position:relative; 
    width:300px;
    margin: auto;
}

.carousel-caption {
	font-family: Satisfy;
    font-size: 600%;
}


/*-----------------images--------------*/


.cow, .show-pic {	
	margin: auto;
}

.cowcopter {
	
}

/*--------------login views------------*/

.devise-form {
	margin: auto;
}