  <%= link_to product do %>
  <div class="col-md-4 col-xs-12 products"> 
      <%= image_tag(product.image_url, class: "img-responsive") %>
     
      <h1><%= product.name %></h1>
   
  </div><!-- /col-->
 <% end %> 